@-webkit-keyframes mess-info-animation { 
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes mess-info-animation { 
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.5;
	}
}
.flash-shadow {
	animation-name: flash-shadow-animation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-name: flash-shadow-animation;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes flash-shadow-animation { 
	0% {
		-moz-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
		-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
		box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
	}
	50% {
		-moz-box-shadow: 0px 0px 4px 4px rgba(0, 136, 204, 0.19);
		-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 136, 204, 0.19);
		box-shadow: 0px 0px 4px 4px rgba(0, 136, 204, 0.19);
	}
	100%
	{
		-moz-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
		-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
		box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
	}
}
@keyframes flash-shadow-animation { 
	0% {
		-moz-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
		-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
		box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
	}
	50% {
		-moz-box-shadow: 0px 0px 4px 4px rgba(0, 136, 204, 0.19);
		-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 136, 204, 0.19);
		box-shadow: 0px 0px 4px 4px rgba(0, 136, 204, 0.19);
	}
	100%
	{
		-moz-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
		-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
		box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
	}
}