.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #FF9900;
	background-image: -moz-linear-gradient(top, #FF9900, #FF5C00);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF9900),
		to(#FF5C00));
	background-image: -webkit-linear-gradient(top, #FF9900, #FF5C00);
	background-image: -o-linear-gradient(top, #FF9900, #FF5C00);
	background-image: linear-gradient(to bottom, #FF9900, #FF5C00);
	background-repeat: repeat-x;
	border-color: #FF5C00 #FF5C00 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9900',
		endColorstr='#ffFF5C00', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #FF5C00;
  *background-color: #FF5C00;
}

.nav .dropdown-toggle .caret {
	margin-top: 6px;
	border-top-color: #FF9900;
	border-bottom-color: #FF9900;
}

.dropdown-menu {
	background-color: #121212;
	margin: 0px 0 0;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a
	{
	color: #FF9900;
	text-decoration: none;
	background: transparent;
}

.dropdown-menu>li>a {
	color: silver;
}

.dropdown-menu .divider {
	background-color: #303030;
	border-bottom: none;
}

.nav-pills .dropdown-menu {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.nav-header {
	text-shadow: none;
	color: #757575;
	cursor: default;
}

a {
	color: silver;
	text-decoration: none;
}

.nav .dropdown-toggle:hover .caret,.nav .dropdown-toggle:focus .caret {
	border-top-color: #FF9900;
	border-bottom-color: #FF9900;
}

.nav-tabs .open .dropdown-toggle,.nav-pills .open .dropdown-toggle,.nav>li.dropdown.open.active>a:hover,.nav>li.dropdown.open.active>a:focus
	{
	background-color: #080808;
	background-image: -moz-linear-gradient(bottom, #090909, #080808);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#090909),
		to(#080808));
	background-image: -webkit-linear-gradient(bottom, #090909, #080808);
	background-image: -o-linear-gradient(bottom, #090909, #080808);
	background-image: linear-gradient(to top, #090909, #080808);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff090909',
		endColorstr='#ff080808', GradientType=0);
}

#nav-host {
	background-color: #080808;
	background-image: -moz-linear-gradient(bottom, #101010, #080808);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#101010),
		to(#080808));
	background-image: -webkit-linear-gradient(bottom, #101010, #080808);
	background-image: -o-linear-gradient(bottom, #101010, #080808);
	background-image: linear-gradient(to top, #101010, #080808);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff101010',
		endColorstr='#ff080808', GradientType=0);
	height: 32px;
	border-bottom: 1px solid #131313;
}

.nav-pills {
	background: transparent;
}

.nav-pills>.active>a,.nav-pills>.active>a:hover,.nav-pills>.active>a:focus
	{
	color: #FF9900;
	background-color: transparent;
}

.nav>li>a:hover,.nav>li>a:focus {
	text-decoration: none;
	color: white;
	background-color: transparent;
}

.nav-pills>li>a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}

.table .table {
	background-color: transparent;
	color: #333;
}

.table-header {
	background: #F7F7F7;
}

.table th {
	text-align: center;
}

.row-padded {
	padding: 35px;
	background-color: #F7F7F7;
	border: 1px solid #DDD;
}

.row-padded .span4 {
	background-color: #bbb;
	width: 30%;
}

.brand {
	padding: 0;
}

.rowBack {
	background-color: rgba(20, 20, 20, 0.55);
	color: silver;
}

.divider {
	height: 1px;
	background-color: silver;
	border: none;
}

.pending-table-selected {
	margin-top: 150px;
}

.popover {
	background: #202020;
}

.tilt {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/*.tilt:hover {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}*/

.pcard {
	border: 1px solid rgba(70, 70, 70, 1.0);
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	color: white;
	text-align: center;
	background-position: -10px -10px, 0 0;
	-webkit-transition: background-position background-size 1s ease;
	-moz-transition: background-position background-size 1s ease;
	-o-transition: background-position background-size 1s ease;
	transition: background-position background-size 1s ease;
	background-size: 100%;
	text-shadow: 1px 1px #000000;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* For Webkit browsers */
	filter: gray; /* For IE 6 - 9 */
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	/* Firefox 10+, Firefox on Android */
	-webkit-transition: all 0.5s ease;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(70, 70, 70, 0.2);
	-moz-box-shadow: 0px 0px 2px 2px rgba(70, 70, 70, 0.2);
	box-shadow: 0px 0px 2px 2px rgba(70, 70, 70, 0.2);
}

.pcard:hover {
	background-position: -5px -5px, 0 0;
	background-size: 120%;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.highCard {
	border: 1px solid #FF9900;	
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-box-shadow: 0px 0px 2px 2px rgba(255, 153, 0, 0.3);
	-moz-box-shadow: 0px 0px 2px 2px rgba(255, 153, 0, 0.3);
	box-shadow: 0px 0px 2px 2px rgba(255, 153, 0, 0.3);
}

.animate-show {
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
	opacity: 1;
}

.animate-show.ng-hide-remove {
	display: block !important;
}

.animate-show.ng-hide {
	opacity: 0;
}

.shadow {
	-moz-box-shadow: 0px 0px 2px 3px rgba(0, 136, 204, 0.19);
	-webkit-box-shadow: 0px 0px 2px 3px rgba(0, 136, 204, 0.19);
	box-shadow: 0px 0px 2px 3px rgba(0, 136, 204, 0.19);
}

.scam-margin {
	margin-top: 10px;
}

.circle {
	border: 1px solid black;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	margin: 0px;
	/*display: inline-block;*/
}

.circle-inside {
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	border-radius: 50%;
}

.arrows-control {
	opacity: 0.2;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.opaque {
	opacity: 1;
}

.transparent {
	opacity: 0;
}

.alert-color {
	background-color: red;
}

.progress .bar {
	background-color: silver;
}

.telescope-desc {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.45);
	margin-right: 5px;
	float: left;
	width: 30%;
	height: 75px;
	background-size: 100%;
	background-position: 0 -10px;
	background-image:
		url(http://gloria-project.eu/wp-content/uploads/2013/11/t13-tad_300p.jpg);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* For Webkit browsers */
	filter: gray; /* For IE 6 - 9 */
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	/* Firefox 10+, Firefox on Android */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.telescope-desc:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.bright-button {
	filter: brightness(1.0);
	-webkit-filter: brightness(1.0);
	-moz-filter: brightness(1.0);
	-o-filter: brightness(1.0);
	-ms-filter: brightness(1.0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.bright-button:hover {
	filter: brightness(1.2);
	-webkit-filter: brightness(1.2);
	-moz-filter: brightness(1.2);
	-o-filter: brightness(1.2);
	-ms-filter: brightness(1.2);
}

.bright-button:active {
	opacity: 0.1;
}

.mess-info {
	animation-name: mess-info-animation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-name: mess-info-animation;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
}

.disabled-button {
	opacity: 0.3;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.images {
	-webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	-o-transition: all 1.0s ease;
	-ms-transition: all 1.0s ease;
	transition: all 1.0s ease;
}

.image-thumb {
	border: 1px solid rgba(0, 0, 0, 0.25);
	opacity: 0.4;
	width: 85px;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	/*-webkit-filter: grayscale(100%);*/ /* For Webkit browsers */
	filter: gray; /* For IE 6 - 9 */
	/*filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
	/*filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);*/
	/* Firefox 10+, Firefox on Android */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.image-thumb:hover {
	border: 1px solid rgba(0, 0, 0, 0.0);
	filter: grayscale(0%);
	/*-webkit-filter: grayscale(0%);
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");*/
	opacity: 1.0;
	width: 89px;
	margin-left: 8px;
	margin-right: 4px;
	/*-moz-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);
	box-shadow: 0px 0px 1px 1px rgba(0, 136, 204, 0.19);*/
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}

.image-modal {
	margin-left: 0px;
	width: 50%;
	left: 25%;
	height: 75%;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type=range] {
	-webkit-appearance: none;
	background-color: silver;
	width: 200px;
	height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #666;
	opacity: 0.5;
	width: 10px;
	height: 26px;
}

input[type="range"]::slider-thumb {
	appearance: none;
	background-color: #666;
	opacity: 0.5;
	width: 10px;
	height: 26px;
}