html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrap {
	min-height: 100%;
	position:relative;
	height: auto !important;
}

#header {
	/*background:#ff0;*/
}

#body {
	/*padding:10px;*/
	padding-bottom: 100px; /* Height of the footer */
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  /*margin-bottom: -285px;*/ 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  min-height: 290px; 
  margin-top: -180px;
}
