<!doctype html>
<html lang="en" ng-app="toolbox">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://fserena.github.io/GLORIAAuthoringTool/WebContent/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
<link href="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/css/animations.css" rel="stylesheet"></link>
<link href="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/css/custom.css" rel="stylesheet"></link>
<link href="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/css/layout.css" rel="stylesheet"></link>
<link href="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/img/favicon.ico" rel="icon">
<script
	src=https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js></script>
<script src=http://fserena.github.io/GLORIAAuthoringTool/WebContent/bootstrap/js/bootstrap.min.js></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-tooltip.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-popover.min.js"></script>
<script
	src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js></script>
<script
	src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js></script>
<script
	src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js></script>
<script
	src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-cookies.js></script>

<script src=https://cdn.lfrs.sl/alloyui.com/2.0.0pr6/aui/aui-min.js></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.7.0/ui-bootstrap-tpls.min.js"></script>
<script src="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/js/gloriapi.js"></script>
<script src="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/js/locale.js"></script>
<script src="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/js/view.js"></script>
<script src="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/js/app.js"></script>
<script src="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/js/main.js"></script>
<script src="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/js/login.js"></script>
<script src="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/js/script.js"></script>
<script src="http://fserena.github.io/GLORIAAuthoringTool/WebContent/base/js/navbar.js"></script>
<title ng-show="titleLoaded">{{'title.browser' | i18n}}</title>
</head>

<body ng-controller="MainController"
	style="padding-top: 40px; background-attachment: fixed; background-color: black; background-image: url(http://i.imgur.com/L0s0a11.jpg); color: silver;">

	<div class="page-wrap" ng-controller="LoginController">
		<div id="header">
			<div ng-include src="headerHtml"></div>
			<div ng-include src="navbarHtml"></div>
		</div>
		<div ng-if="headerReady && navReady" id="body" class="container"
			style="opacity: 1.0;">
			<div ng-if="login.user != null && login.user != undefined">
				<div ng-view></div>
			</div>
		</div>
	</div>
	<div ng-if="headerReady && navReady" style="position: relative">
		<div ng-include src="footerHtml"></div>
	</div>
</body>
</html>
