<div class="row">
	<div class="span5" style="cursor: default">
		<div align="center">
			<h5 class="label-info title" style="margin-top: 0px">{{'solar.blocks.purpose.title'|i18n}}</h5>
		</div>
		<div class="info-text">{{'solar.blocks.purpose.content'|i18n}}.</div>
	</div>
	<div class="span4" style="cursor: default">
		<div align="center">
			<h5 class="label-info title" style="margin-top: 0px">{{'solar.blocks.tel_desc.title'|i18n}}</h5>
		</div>
		<div class="telescope-desc" style="margin-top: 1px">
			<a
				style="position: absolute; width: 100%; height: 100%; text-decoration: none; background-color: #FFF, opacity:0; filter: alpha(opacity =   1);"
				href="http://gloria-project.eu/tag/tad-en/" target="about_blank"></a>
		</div>
		<div class="info-text"
			style="margin-left: 5px; float: left; width: 65%; cursor: default">
			{{'solar.blocks.tel_desc.content'|i18n}}</div>
	</div>
	<div class="span3" ng-controller="SolarMountCtrl"
		style="cursor: default">
		<div align="center">
			<h5 class="label-info title" style="margin-top: 0px">{{'solar.blocks.target.title'|i18n}}</h5>
		</div>
		<div ng-show="!targetReady">
			<div class="mess-info info-text" style="float: left">{{targetMessage
				|i18n}}</div>
		</div>
		<div class="animate-show" ng-show="targetReady">
			<div
				style="float: left; width: 30%; margin-left: 5px; cursor: pointer">
				<img ng-style="sunIconStyle" class="bright-button"
					ng-src="{{mainPath}}/img/sun-icon.png" ng-click="pointToTarget()">
			</div>
			<div class="info-text" ng-class="{'mess-info': inAction }"
				style="float: left; width: 62%; margin-left: 10px;">{{targetMessage
				|i18n}}</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="span3" ng-controller="SolarScamCtrl"
		ng-mouseenter="status.focused=true"
		ng-mouseleave="status.focused=false" style="cursor: default">
		<div align="center">
			<h5 class="label-info title">{{'solar.blocks.exterior.title'|i18n}}</h5>
		</div>
		<div>
			<div class="animate-show" ng-class="{'opaque': status.focused==true}"
				style="position: relative; opacity: 0.7">
				<div ng-style="status.dome.openStyle"
					ng-show="status.dome.openEnabled" tooltip-popup-delay="500"
					tooltip="{{'solar.blocks.exterior.open' |i18n}}"
					tooltip-placement="left"
					style="position: absolute; width: 35px; left: 57%; top: 123px; cursor: pointer">
					<img class="bright-button" ng-src="{{mainPath}}/img/dome_open.png"
						ng-click="openDome()">
				</div>
				<div ng-style="status.dome.closeStyle"
					ng-show="status.dome.closeEnabled" tooltip-popup-delay="500"
					tooltip="{{'solar.blocks.exterior.close' |i18n}}"
					tooltip-placement="left"
					style="position: absolute; width: 35px; left: 78.3%; top: 123px; cursor: pointer">
					<img class="bright-button" ng-src="{{mainPath}}/img/dome_close.png"
						ng-click="closeDome()">
				</div>
			</div>
			<div class="shadow" ng-repeat="image in scams"
				style="height: 166px; margin-bottom: 14px">
				<span ng-switch on="image.purl==undefined"> <img
					ng-switch-when="true" ng-src="{{mainPath}}/img/wn4.gif"
					style="width: 216px; height: 162px; border: 2px solid rgba(0, 0, 0, 0.25); border-radius: 3px;">
					<img ng-switch-when="false" id="{{$index}}" ng-src="{{image.purl}}"
					err-SRC="solar/img/wn4.gif"
					style="height: 162px; width: 216px; border: 2px solid rgba(0, 0, 0, 0.25); border-radius: 3px;">
				</span>
			</div>
		</div>
	</div>
	<div ng-controller="SolarCCDCtrl" style="cursor: default">
		<div class="span6">
			<div align="center">
				<h5 class="label-info title">{{'solar.blocks.tel_sight.title'|i18n}}</h5>
			</div>
			<div ng-mouseenter="status.main.focused=true"
				ng-mouseleave="status.main.focused=false">
				<div class="shadow" style="margin-top: 10px; height: 345px">
					<span ng-switch on="ccds[0].pcont==undefined"> <img
						ng-switch-when="true" ng-src="{{mainPath}}/img/wn5.gif"
						style="max-width: 100%; height: 342px; border: 2px solid rgba(0, 0, 0, 0.25); border-radius: 3px">
						<img ng-switch-when="false" ng-src="{{ccds[0].pcont}}"
						err-SRC="solar/img/wn5.gif"
						style="height: 342px; max-width: 100%; border: 2px solid rgba(0, 0, 0, 0.25); border-radius: 3px">
					</span>
					<div class="animate-show animate-hide"
						ng-show="ccds[0].pcont != undefined" style="position: relative;">
						<div class="arrows-control"
							ng-class="{'opaque': status.main.focused==true}"
							id="exposure-control" style="position: relative;">
							<div
								style="overflow: hidden; position: absolute; top: -285px; left: 26px; width: 13px; height: 230px; background-color: rgba(45, 95, 128, 0.12);">
								<div style="overflow: hidden; position: relative; height: 100%">
									<div class="images" ng-style="exposureBarStyle"
										style="position: absolute; left: 0px; width: 13px; height: 230px; background-color: rgba(204, 204, 204, 0.5);">

									</div>
								</div>
							</div>
							<div tooltip-popup-delay="500"
								tooltip="{{'solar.blocks.tel_sight.incexp'| i18n}}"
								tooltip-placement="right"
								style="position: absolute; top: -330px; left: 23px;">
								<img ng-show="status.main.exposure.valueSet"
									ng-mouseup="endSetExposureTime()"
									ng-mousedown="beginSetExposureTime()"
									ng-click="setExposureTimeValue(1.0)"
									style="width: 20px; cursor: pointer" class="bright-button"
									ng-src="{{mainPath}}/img/plus.png">
							</div>
							<div tooltip-popup-delay="500"
								tooltip="{{'solar.blocks.tel_sight.decexp'| i18n}}"
								tooltip-placement="right"
								style="position: absolute; top: -35px; left: 23px;">
								<img ng-mouseup="endSetExposureTime()"
									ng-mousedown="beginSetExposureTime()"
									ng-show="status.main.exposure.valueSet"
									ng-click="setExposureTimeValue(-1.0)"
									style="width: 20px; cursor: pointer" class="bright-button"
									ng-src="{{mainPath}}/img/minus.png">
							</div>
							<div tooltip-popup-delay="500"
								tooltip="{{'solar.blocks.tel_sight.setexp'| i18n}}"
								tooltip-placement="top"
								ng-mouseenter="status.main.clock.focused=true"
								ng-mouseleave="status.main.clock.focused=false"
								ng-style="exposureStyle" class="images"
								style="position: absolute; left: 18px">
								<img class="bright-button" ng-click="setExposureTime()"
									style="float: left; width: 30px; cursor: pointer"
									ng-src="{{mainPath}}/img/exposure.png">
								<div class="animate-show" ng-show="status.main.clock.focused"
									style="float: left; margin-top: 5px; margin-left: 5px; font-size: 0.9em">{{ccds[0].exposure
									| number:3}} s</div>
							</div>
						</div>
						<div class="arrows-control"
							ng-class="{'opaque': status.main.focused==true}"
							id="exposure-control" style="position: relative;">
							<div
								style="overflow: hidden; position: absolute; top: -285px; left: 417px; width: 13px; height: 230px; background-color: rgba(45, 95, 128, 0.12);">
								<div style="overflow: hidden; position: relative; height: 100%">
									<div class="images" ng-style="focuserBarStyle"
										style="position: absolute; left: 0px; width: 13px; top: 115px; height: 2px; background-color: rgba(204, 204, 204, 0.5);">

									</div>
								</div>
							</div>
							<div tooltip-popup-delay="500"
								tooltip="{{'solar.blocks.tel_sight.incstep'| i18n}}"
								tooltip-placement="left"
								style="position: absolute; top: -330px; left: 413px;">
								<img ng-show="status.main.focuser.valueSet"
									ng-mouseup="endSetFocuserPosition()"
									ng-mousedown="beginSetFocuserPosition()"
									ng-click="setFocuserPositionValue(1.0)"
									style="width: 20px; cursor: pointer" class="bright-button"
									ng-src="{{mainPath}}/img/plus.png">
							</div>
							<div tooltip-popup-delay="500"
								tooltip="{{'solar.blocks.tel_sight.decstep'| i18n}}"
								tooltip-placement="left"
								style="position: absolute; top: -35px; left: 413px;">
								<img ng-show="status.main.focuser.valueSet"
									ng-mouseup="endSetFocuserPosition()"
									ng-mousedown="beginSetFocuserPosition()"
									ng-click="setFocuserPositionValue(-1.0)"
									style="width: 20px; cursor: pointer" class="bright-button"
									ng-src="{{mainPath}}/img/minus.png">
							</div>
							<div tooltip-popup-delay="500"
								tooltip="{{'solar.blocks.tel_sight.move'| i18n}}"
								tooltip-placement="top"
								ng-mouseenter="status.main.focus.focused=true"
								ng-mouseleave="status.main.focus.focused=false"
								ng-style="focuserStyle" class="images"
								style="position: absolute; left: 409px; cursor: pointer">
								<div class="animate-show" ng-show="status.main.focus.focused"
									style="position: absolute; width: 100px; text-align: right; right: 35px; float: left; margin-top: 5px; margin-right: 5px; font-size: 0.9em">{{focuser.offset-
									500 | number: 0}} steps</div>
								<img class="bright-button" ng-click="setFocuserPosition()"
									style="float: left; width: 30px;"
									ng-src="{{mainPath}}/img/focus.png">

							</div>
						</div>
						<div tooltip-popup-delay="500"
							tooltip="{{'solar.blocks.tel_sight.take'| i18n}}"
							tooltip-placement="top" class="arrows-control"
							ng-class="{'opaque': status.main.camera.focused}"
							ng-mouseenter="status.main.camera.focused=true"
							ng-mouseleave="status.main.camera.focused=false"
							style="position: absolute; top: -53px; left: 200px;">
							<img ng-show="imageTaken" ng-click="startExposure()"
								style="width: 43px; cursor: pointer" class="bright-button"
								ng-src="{{mainPath}}/img/take.png"> <img
								ng-show="!imageTaken"
								style="width: 43px; cursor: default; margin-top: -4px"
								ng-src="{{mainPath}}/img/loading.gif">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div align="center">
				<h5 class="label-info title">{{'solar.blocks.finder.title'|i18n}}</h5>
			</div>
			<div ng-mouseenter="status.finder.focused=true"
				ng-mouseleave="status.finder.focused=false" align="center"
				style="margin-top: 1em">
				<div class="shadow circle"
					style="border: 5px solid rgba(0, 0, 0, 0.25); height: 198px; width: 198px;">
					<div ng-switch on="ccds[1].pcont==undefined"
						style="margin-left: -33px">
						<img ng-switch-when="true" ng-src="{{mainPath}}/img/wn3.gif"
							style="height: 198px;"> <img ng-switch-when="false"
							ng-src="{{ccds[1].pcont}}"
							style="height: 198px; max-width: 150%;"
							err-SRC="solar/img/wn3.gif">
					</div>
				</div>
				<div style="position: relative;">
					<div ng-show="arrowsEnabled" class="arrows-control animate-show"
						ng-class="{'opaque': status.finder.focused==true}">
						<div tooltip-popup-delay="500"
							tooltip="{{'solar.blocks.target.move-s'| i18n}}"
							tooltip-placement="top"
							style="position: absolute; width: 15%; top: -28px; left: 94px; cursor: pointer;">
							<img class="bright-button" ng-src="{{mainPath}}/img/down.png"
								ng-click="moveFinder('SOUTH')">
						</div>
						<div tooltip-popup-delay="500"
							tooltip="{{'solar.blocks.target.move-n'| i18n}}"
							tooltip-placement="bottom"
							style="position: absolute; width: 15%; top: -203px; left: 94px; cursor: pointer;">
							<img class="bright-button" ng-src="{{mainPath}}/img/up.png"
								ng-click="moveFinder('NORTH')">
						</div>
						<div tooltip-popup-delay="500"
							tooltip="{{'solar.blocks.target.move-w'| i18n}}"
							tooltip-placement="right"
							style="position: absolute; width: 8%; top: -123px; left: 14px; cursor: pointer;">
							<img class="bright-button" ng-src="{{mainPath}}/img/left.png"
								ng-click="moveFinder('WEST')">
						</div>
						<div tooltip-popup-delay="500"
							tooltip="{{'solar.blocks.target.move-e'| i18n}}"
							tooltip-placement="left"
							style="position: absolute; width: 8%; top: -123px; left: 188px; cursor: pointer;">
							<img class="bright-button" ng-src="{{mainPath}}/img/right.png"
								ng-click="moveFinder('EAST')">
						</div>
					</div>
					<div
						style="position: absolute; width: 20%; top: -130px; left: 90px; opacity: 0.6;">
						<img ng-src="{{mainPath}}/img/pointer.png">
					</div>
				</div>
			</div>
			<div ng-controller="SolarWeatherCtrl"
				style="margin-top: 14px; height: 63px; cursor: default"
				align="center">
				<h5 class="label-info title">{{'solar.blocks.weather.title'|i18n}}</h5>
				<div ng-show="!valuesLoaded">
					<div class="mess-info info-text" style="float: left;">{{'solar.blocks.weather.looking'|i18n}}</div>
				</div>
				<div class="animate-show" ng-show="valuesLoaded"
					style="overflow: hidden; font-size: 0.9em">
					<div tooltip-popup-delay="500"
						tooltip="{{'solar.blocks.weather.hr'| i18n}}"
						tooltip-placement="top" ng-class="{'mess-info': rh.high}"
						style="float: left; display: inline-block; width: 50%">
						<div style="width: 30%; float: left;">
							<img ng-src="{{mainPath}}/img/drop.png">
						</div>
						<div ng-style="rh.style"
							style="float: left; margin-top: 5px; margin-left: 4px">{{rh.value}}
							%</div>
					</div>
					<div tooltip-popup-delay="500"
						tooltip="{{'solar.blocks.weather.wind'| i18n}}"
						tooltip-placement="top" ng-class="{'mess-info': wind.high}"
						style="float: left; display: inline-block; width: 50%">
						<div style="width: 30%; float: left;">
							<img ng-src="{{mainPath}}/img/wind.png">
						</div>
						<div ng-style="wind.style"
							style="float: left; margin-top: 5px; margin-left: 8px">{{wind.value}}
							m/s</div>
					</div>
				</div>
				<div style="display: none"></div>
			</div>
			<div style="margin-top: 14px; cursor: default; height: 40px"
				align="center" ng-controller="SolarElapsedCtrl">
				<div align="center">
					<h5 class="label-info title">{{'solar.blocks.elapsed.title'|i18n}}</h5>
				</div>
				<div class="info-text" ng-class="{'mess-info': fewSecondsLeft }"
					class="animate-show" ng-show="loaded">
					<div tooltip-popup-delay="500"
						tooltip="{{'solar.blocks.elapsed.remaining'|i18n:remaining}}"
						tooltip-placement="left" class="progress"
						style="background-image: none; background-color: rgba(0, 0, 0, 0.25); height: 10px; width: 95%">
						<div ng-style="progressStyle" class="bar"
							style="background-image: none"></div>
					</div>
				</div>
				<div ng-show="!loaded">
					<div class="mess-info info-text" style="float: left;">{{'solar.blocks.elapsed.calc'
						|i18n}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div ng-controller="SolarImagesCtrl" class="span9"
		style="height: 100px; cursor: default">
		<div align="center">
			<h5 class="label-info title" style="margin-top: 0px">{{'solar.blocks.images.title'|i18n}}</h5>
		</div>
		<div
			style="float: left; cursor: pointer; width: 18px; margin-top: 12px; margin-left: 12px; height: 36px">
			<img ng-show="currentIndex > 0" class="animate-show bright-button"
				ng-src="{{mainPath}}/img/left.png" ng-click="nextLeft()">
		</div>
		<div
			style="float: left; position: relative; overflow: hidden; width: 616px; height: 70px; margin-left: 15px; margin-right: 15px;"
			class="span8 animate-show">
			<div class="images" ng-style="sliderStyle" id="thumbnails"
				style="width: 850px; position: absolute;">
				<div class="image-thumb" style="margin-top: 2px"
					ng-show="thumbsReady" ng-repeat="image in images | filter:filterFn"
					ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
					<div style="position: relative">
						<a> <img ng-click="open(image)"
							style="border-radius: 3px; cursor: pointer" class="bright-button"
							ng-src="{{image.jpg}}" alt="">
						</a>
						<div style="opacity: 1.0; position: absolute; top: 65%; left: 5%">
							{{image.order}}</div>
					</div>
				</div>
			</div>
		</div>
		<div
			style="float: left; cursor: pointer; width: 18px; margin-top: 12px; height: 36px">
			<img ng-show="currentIndex + 6 < images.length"
				class="animate-show bright-button"
				ng-src="{{mainPath}}/img/right.png" ng-click="nextRight()">
		</div>
		<div>
			<script type="text/ng-template" id="myModalContent.html">
						<div>
    	    				<div class="modal-header">
		            			<h3>Image {{image.order}}</h3>
        					</div>
        					<div class="modal-body" style="max-height: 1000px;">
	            				<img ng-src="{{image.jpg}}">        			
        					</div>
        					<div class="modal-footer" style="background-color: rgba(0, 0, 0, 0.6); border: none">
								<p class="pull-left">{{'solar.blocks.images.took'}} {{image.date | utc | date:short}} UT.</p>
								<a class="btn btn-primary" download="image.jpg" ng-href="{{image.jpg + '&download=true'}}">JPEG</a>
								<a class="btn btn-warning" download="image.jpg" ng-href="{{image.fits + '&download=true'}}">FITS</a>            					
        					</div>
						</div>
   			 		</script>
		</div>
	</div>
	<div class="span3" align="center" style="cursor: default">
		<div align="center">
			<h5 class="label-info title"
				style="margin-bottom: 15px; margin-top: 0px">{{'solar.blocks.measure.title'|i18n}}</h5>
		</div>
		<a target="about_blank"
			href="https://play.google.com/store/apps/details?id=com.gloria.offlineexperiments">
			<img alt="Solar Activity Experiment on Android"
			ng-src="{{mainPath}}/img/google_play.png" />
		</a>
	</div>
</div>
