<!--  Import scripts and css here -->
<link href="solar/css/styles.css" rel="stylesheet"></link>

<!-- Experiment container -->
<div ng-show="solarReady" ng-controller="SolarMainCtrl">
	<div class="page-header" style="border: none; margin-bottom: 10px">
		<div class="row" style="margin-bottom: 0px">
			<h2 class="test" style="margin-left: 18px">{{'solar.header'|i18n}}</h2>
		</div>
	</div>
	<div class="animate-show"
		ng-if="!notAuthorized && !reservationActive && !wrongReservation">

		<div ng-if="!reservationEnd">
			<div ng-if="!deviceProblem">
				<div ng-switch on="infoUpdated">
					<div ng-switch-when="true" class="alert alert-g"
						style="width: 40%; margin-left: 30%; margin-top: 20px">
						<div ng-show="reservationObsolete">
							{{'solar.reservation.obsolete.l1'|i18n:preRid}}.<br>{{'solar.reservation.obsolete.l2'|i18n}}<a
								href="#/experiments/available" style="color: #0F0F0F">
								{{'solar.reservation.obsolete.here'|i18n}}</a>.
						</div>
						<div ng-show="!reservationObsolete">
							{{'solar.reservation.unknown'|i18n:preRid}}.</div>
					</div>
					<div ng-switch-when="true" ng-show="!infoUpdated"
						class="alert alert-g mess-info"
						style="width: 30%; margin-left: 35%; margin-top: 20px">
						{{'solar.reservation.loading'|i18n}}...</div>
				</div>
				<div ng-show="deviceProblem" class="alert alert-g"
					style="width: 50%; margin-left: 25%; margin-top: 20px">
					{{'solar.reservation.problem'|i18n}}.</div>
			</div>
		</div>
	</div>
	<div ng-if="reservationEnd" class="alert alert-g"
		style="width: 50%; margin-left: 25%; margin-top: 20px">
		{{'solar.reservation.end'|i18n}}.</div>
	<div class="animate-show alert alert-g" ng-if="notAuthorized"
		style="width: 40%; margin-left: 30%; margin-top: 20px">
		{{'solar.reservation.login'|i18n}}...</div>
	<div class="animate-show alert alert-g" ng-if="wrongReservation"
		style="width: 40%; margin-left: 30%; margin-top: 20px">
		{{'solar.reservation.nvalid'|i18n:preRid}}</div>
	<div class="animate-show"
		ng-show="!deviceProblem && reservationActive && !notAuthorized"
		ng-class="{'transparent': reservationEnd || notAuthorized || ccdProblem}">

		<div ng-include src="specificHtml"></div>
	</div>
</div>