<div id="nav-host" ng-show="login.user != null" class="animate-show">
	<div class="container" ng-controller="NavbarCtrl">
		<ul class="nav nav-pills" style="margin-left: -12px">

			<li ng-repeat="menu in menus" ng-class="navClass(menu.name)"><a
				ng-class="linkClass(menu.name)" data-toggle="dropdown"
				style="cursor: pointer" ng-click="changePath(menu.href)">{{menu.text
					| i18n}} <b class="caret" ng-if="menu.child != undefined"></b>
			</a>
				<ul ng-if="menu.child != undefined"
					class="dropdown-menu animate-show">
					<li ng-repeat="child in menu.child"
						ng-class="childClass(child.type)"><a style="cursor: pointer"
						ng-click="changePath(child.href)" ng-if="child.href != undefined">{{child.text
							| i18n}}</a>
						<p style="margin-bottom: 0px" ng-if="child.type == 'header'">{{child.text
							| i18n}}</p></li>
				</ul></li>
		</ul>
	</div>
</div>